@charset "ISO-8859-1";
.mainbox {
    background-color: rgb(202, 221, 255);
    border-radius: 20px;
    margin-top:-50px;
}

.box2 {
    background-size: 100% 100%;
    border-radius: 0px 20px 20px 0px;
}

.adminpic {
    height: 700px;
    border-radius: 20px 0px 0px 20px;
}
.donorpic {
    height: 772px;
    border-radius: 20px 0px 0px 20px;
}
.contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contentBx .formBx {
    width: 80%;
    padding: 5%;
    background: rgba(251, 245, 247, 0.8);
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.contentBx .formBx h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}

.contentBx .formBx .inputBx {
    margin-bottom: 20px;
}

.contentBx .formBx .inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #60748b;
    font-weight: 300;
    font-size: 16px;
    Letter-spacing: 1px;
}

.contentBx .formBx .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    width: 100%;
    Letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

.contentBx .formBx .inputBx input[type="submit"] {
    background: #c3b4fd;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.contentBx .formBx .inputBx input[type="submit"]:hover {
    background: #f53677;
}

.contentBx .formBx .remember {
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}

.contentBx .formBx .inputBx p {
    color: #607d8b;
}

.contentBx .formBx .inputBx p a {
    color: #ff4584;
}